.department img{
  margin: auto;
  width: 150px;
}
/* slider button Style */
.dPrev, .dNext{
  top: -56px;
  height: 26px;
  width: 26px;
  padding: 0 3px;
  background-color: #f2f2f2;
  /* background-color: red !important; */
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  z-index: 1 ;
  border: 1px solid transparent;
  transition: border 0.2s ease;
}
.dPrev{
  right: 40px;
}
.dPrev:hover{
  border: 1px solid black;
}
.dNext{
  right: 0;
}
.dNext:hover{
  border: 1px solid black;
}