.department img{
  margin: auto;
  width: 150px;
}
/* slider button Style */
.prev, .next{
  top: -55px;
  height: 26px;
  width: 26px;
  padding: 0 3px;
  background-color: #f2f2f2;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  z-index: 1 ;
  border: 1px solid transparent;
  transition: border 0.2s ease;
}
.prev{
  right: 40px;
}
.prev:hover{
  border: 1px solid black;
}
.next{
  right: 0;
}
.next:hover{
  border: 1px solid black;
}