.feedBackBtn{
    border-radius: 40px;
    padding: 6px 20px;
    font-weight: 600;
    outline: 1px solid black;
    border: 1.5px solid transparent ;
    transition: border 0.1s ease;
    box-sizing: border-box;
}
.feedBackBtn:hover {
    border: 1.5px solid black ;
}
.footerContainer ul li {
    width: fit-content !important;
    font-size: 13px;
}