.seeTimeBtn{
    font-size: .875rem;
    height: 2rem;
    width: 6.5rem;
    padding: 0 0.5rem;
    border-radius: 40px;
    text-align: center;
    border: 1.5px solid transparent;
    outline: 1px solid black;
    transition: border 0.1s ease;
    box-sizing: border-box;
}
.seeTimeBtn:hover{
    border: 1.5px solid black;
}
.topDepartments img{
    width: 50px;
    margin: auto;
}
.topDepartments p{
    margin: 0;
    text-align: center;
}
.secondCard{
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.secondCard img{
    width: 90px;
    margin: auto;
}
.secondCard p{
    margin: 0;
    text-align: center;
    font-size: 13px;
}