.seeTimeBtn{
    font-size: .875rem;
    height: 2rem;
    min-width: fit-content;
    padding: 0 8px;
    border-radius: 40px;
    text-align: center;
    border: 1.5px solid transparent;
    outline: 1px solid black;
    transition: border 0.1s ease;
    box-sizing: border-box;
}
.seeTimeBtn:hover{
    border: 1.5px solid black;
}
.topDepartments img{
    width: 50px;
    margin: auto;
}
.topDepartments p{
    margin: 0;
    text-align: center;
}
.secondCard{
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.secondCard img{
    width: 90px;
    margin: auto;
}
.secondCard p{
    margin: 0;
    text-align: center;
    font-size: 13px;
}
.freeShipping{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.freeShipping img{
    width: 30px;
}
.freeShipping p, span{
    font-size: 14px;
    min-width: fit-content;
    font-weight: 600;
}

  
.forCard, .inSeason{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid black; */
}
.inSeason img{
    border-radius: 8px 8px 0 0;
}
.forSubItem, .inSeasonItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    
}
.forSubItem p, .inSeason p{
    margin-top: 8px;
    font-size: 13px;
}
.forSubItem button, .inSeason button{
    width: fit-content;
    padding: 2px 14px;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid black;
    font-weight: 600;
    margin-top: 5px;
    transition: all 0.2s ease;
}
.forSubItem button:hover, .inSeason button:hover{
    background-color: black;
    color: white;
}
