.navContainer{
    background-color: #0071DC;
    padding: 16px 25px;
}
.menuBtn{
    width: 54px;
    height: 54px;
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.logo h1{
    font-size: 24px;
    color: White;
    margin: 0;
    padding: 0;
}
.logo img{
    width: 30px;
}
.departments , .services{
    display: flex;
    align-items: center;
    gap: 2px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
    transition: all 0.3s ease;
}
.inputContainer{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 4px 6px 4px 12px;
}
.inputContainer input{
    border: none;
    outline: none;
    width: 100%;
}
.inputContainer input::placeholder{
    color: #757575;
}
.inputContainer .searchIcon{
    background-color: #FFC220;
    color: black;
    font-size: 30px;
    padding: 4px;
    border-radius: 50%;
    margin-left: 6px;
    font-weight: normal !important;
}
.myItem{
    width: 100px;
}
.myItem, .auth{
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.myItem p, .auth p{
    margin: 0;
    font-size: 12px;
}
.myItem h1, .auth h1{
    margin: 0;
    font-weight: 500;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 500;
    color: white;
}
.cart .icon{
    font-size: 18px;
} 
.cart .item{
    position: absolute;
    top: -10px;
    background-color: #FFC220;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    color: black;
    border: 1px solid black !important;
    right: -10px;
}
.cart span{
    font-size: 12px;
}
.active{
    background-color: transparent;
    padding: 8px 5px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.active:hover{
    background-color: #004F9A;
}
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    border-right: 1px solid #E3E4E5;
}
.sideNav li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: #46474A;
    padding-bottom: 22px;
}
.blind{
    border-top: 1px solid #E3E4E5;
    border-bottom: 1px solid #E3E4E5;
    padding-top: 20px;
}
.sideNav button{
    color: white;
    font-weight: 500;
    background-color: #0071DC;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.sideNav .sideNavAuth{
    border-bottom: 1px solid #E3E4E5;
}
.sideNav button:hover{
    background-color: #004F9A;
}
  .sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sideNav a:hover {
    color: #f1f1f1;
  }
  
  .sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }